[submodule "dongle/src/cuckoofilter-gadget"]
	path = dongle/src/cuckoofilter-gadget
	url = git@github.com:ubc-systopia/cuckoofilter-gadget.git
	branch = decode-lib
[submodule "beacon/src/sha-2"]
	path = beacon/src/sha-2
	url = git@github.com:ubc-systopia/sha-2.git
